<!DOCTYPE html>
<html>
<head>
  <title>Topps BUNT Marketplace</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
</head>

<body class="<%= body_class %>">
    <%= render 'shared/nav' %>
    <%= render 'shared/flash' %>
    <%= yield %>
</body>
</html>
